/* Book Section */
#book {
  background-color: #f9f9f9;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  /* max-width: 800px; */
}

#book-container {
  margin-bottom: 30px;
}

#book-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

#book-container p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

#book-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

#book-container ul li {
  margin-bottom: 10px;
}

#book-container ul li a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

#book-container ul li a:hover {
  text-decoration: underline;
}

#book-container iframe {
  margin-top: 20px;
}

#additional_books {
  margin-bottom: 30px;
}

#additional_books h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

#additional_books div {
  margin-bottom: 20px;
}

#additional_books img {
  width: 100%;
  height: auto;
}

#additional_books h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

#additional_books p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

#reviews {
  margin-bottom: 30px;
}

#reviews h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

#reviews div {
  margin-bottom: 20px;
}

#reviews h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

#reviews p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}
