#book {
  /* background-color: rgba(240, 240, 240, 0.7); */
}

.book-container {
  margin-bottom: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.book-series {
  display: flex;
  flex-wrap: wrap;
}

.book-content {
  flex: 0 0 48%;
  margin-right: 2%;
}

.buy-links {
  flex: 0 0 48%;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.book-item {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 15px;
  display: flex;
}

.book-image {
  width: 96px;
  height: auto;
}

.book-details {
  flex: 1;
}

.buy-button {
  background: #febe10;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font: normal normal bold 16px/22px Open Sans;
  width: 163px;
  height: 34px;
  line-height: 34px;
  margin-top: 10px;
}

.review {
  margin-bottom: 20px;
}

.review h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.buy-links-list {
  list-style: none;
  padding-left: 0;
}
