/* Design Section */
#design {
  background-color: #ddd;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#design-container {
  margin-bottom: 30px;

  margin: 0 auto;
  max-width: 800px;
}

#portraitography,
#fine_arts,
#animations {
  margin-bottom: 20px;
}

#design-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

#design-container p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

#design-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

#design-container ul li {
  margin-bottom: 10px;
}

#design-container ul li a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

#design-container ul li a:hover {
  text-decoration: underline;
}

#design-container iframe {
  margin-top: 20px;
}
