/* Design Section */
#design {
  background-color: #ddd;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#design-container {
  text-align: center;
  margin-bottom: 30px;
  max-width: 800px;
}

#design-container .design-container {
  text-align: center;
  margin-bottom: 30px;
  margin: 0 auto;
}

#portraitography,
#fine_arts,
#animations {
  margin-bottom: 20px;
}

#design-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

#design-container p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

#design-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

#design-container ul li {
  margin-bottom: 10px;
}

#design-container ul li a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

#design-container ul li a:hover {
  text-decoration: underline;
}

#design-container iframe {
  margin-top: 20px;
}

.section {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.design-container {
  /* display: flex; */
  /* justify-content: space-around; */
  max-width: 1200px;
  margin: 0 auto;
}

.design-category {
  flex: 1;
  background-color: #f32;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.design-category-title {
  color: #333;
}

.design-category-description {
  color: #666;
}

.design-category-placeholder {
  color: #999;
  margin-top: 10px;

  text-align: center;
  margin-bottom: 30px;
}

.design-category-links {
  margin-top: 20px;
}

.design-category-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Spread out the list items evenly */
}

.design-category-links ul li {
  margin-right: 10px; /* Add margin between list items */
}

.design-category-links ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.design-category-links ul li a {
  color: #3498db;
  text-decoration: none;
}

.design-category-links ul li a:hover {
  text-decoration: underline;
}

.design-category-video {
  margin-top: 20px;
}

.design-category-playlist {
  margin-top: 10px;
}

/* .design-container {
  max-width: 1200px;
  margin: 0 auto;
} */

.video-header,
.gallery-placeholder {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-placeholder h2 {
  color: #333;
}

.video-header {
  text-align: center;
  margin-bottom: 30px;
}

.video-header iframe {
  width: 100%;
  height: 100%;
}

.responsive-video {
  display: block;
  margin: 0 auto;
}
/* GALLERY */
.gallery {
  position: relative; /* Added relative positioning for navigation arrows */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 5px;
  overflow: hidden; /* Ensure images don't overflow the gallery */
}

.gallery img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  transition: all 300ms ease;
  z-index: inherit;
  cursor: pointer;
}

.gallery img:hover {
  object-fit: none;
  width: 100px;
  z-index: 100;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
}

/* Navigation arrows */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1001; /* Ensure arrows are above modal */
}

.nav-arrow.left {
  left: 10px;
}

.nav-arrow.right {
  right: 10px;
}
/* Style for the container div */
.font-links {
  display: flex;
  flex-direction: row-reverse; /* Right to left */
  justify-content: space-between; /* Spread out items horizontally */
  align-items: center; /* Align items vertically */
}

/* Style for the font links ul */
.font-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.font-links ul li {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

/* Hover effect */
.font-links ul li:hover {
  transform: scale(1.1);
}
/* Style for the links */
.font-links ul li a {
  text-decoration: none;
  color: #000;
}

/* Style for the icons */
.font-links ul li a i {
  /* margin-right: 5px;  */
}

/* Style for each paragraph */
/* Style for each paragraph */
.font-links p {
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
  display: flex;
  flex-direction: row;
}

/* Hover effect */
.font-links p:hover {
  transform: scale(1.1); /* Scale up by 10% on hover */
}
