/* Game Development Section */
#games {
  background-color: rgba(210, 210, 210, 0.7);
  padding: 20px;
  border-bottom: 1px solid   background-color: rgba(200,200,200,.7);
}

.games-container {
  max-width: 800px;
  margin: 0 auto;
}

.games-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
}

.gamedev {
  margin-bottom: 30px;
}

.gamedev h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.gamedev ul {
  margin-bottom: 20px;
}

.gamedev ul li {
  margin-bottom: 5px;
  color: #666;
}

.gamedev p {
  margin-bottom: 10px;
  color: #666;
}

.game-links {
  margin-bottom: 30px;
}

.game-links h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.game-links ul {
  list-style-type: none;
  padding-left: 0;
}

.game-links li {
  margin-bottom: 10px;
}

.game-links li a {
  color:  rgba(40,140,240,.7);
  text-decoration: none;
  font-weight: bold;
}

.game-links li a:hover {
  text-decoration: underline;
}

.game-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.game-links li {
  margin-right: 10px;
}

.game-links li:last-child {
  margin-right: 0;
}

.game-links img {
  width: auto; /* Adjust the width as needed */
  height: 100px;
  border-radius: 5px; /* Add rounded corners */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.game-links img:hover {
  transform: scale(1.1); /* Enlarge the image on hover */
}

.tools-list,
.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tools-list li,
.skills-list li {
  margin-bottom: 10px;
}

.projects {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 20px; */
}

.game-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:  rgba(100,200,250,.7);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
  margin-right: 10px;
}

.game-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-button i {
  margin-right: 5px;
  font-size: 24px;
}

.game-button span {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.steam i {
  color: #171a21;
}

.itch-io i {
  color: #ff5e00;
}
