.cursor {
  position: absolute;
  width: 330px;
  height: 418px;
  pointer-events: none;
  transform-origin: top left;
  /* animation: rotateAnimation 150s linear infinite; */
  z-index: 10000;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
