/* Resume Section Styles */

#resume {
  background-color: #f0f0f0; 
  padding: 20px;
  display: flex;
  align-items: center; 
}

.resume-container h2 {
  /* font-size: 24px;  */
  margin-bottom: 20px;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin: 0 auto; 

.resume-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; 
}

.resume-list li {
  margin-bottom: 10px;
}

.resume-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
  display: inline-block;

.resume-list a:hover {
  color: #666;
}

.resume-link,
.external-link {
  color: #3498db;
  text-decoration: none;
}

.resume-link:hover,
.external-link:hover {
  text-decoration: underline;
}
