#software {
  background-color: #f0f0f0;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.software-container {
  max-width: 800px;
  margin: 0 auto;
}

/* Grid layout for the ul lists */
.software-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
}

/* List item styles */
.software-container ul li {
  margin-bottom: 10px;
}

/* Adjust link styles */
.links a {
  color: blue;
  text-decoration: underline;
}

.introduction,
.focus,
.projects,
.links {
  margin-bottom: 30px;
}

/* Subsection styles */
.introduction h2,
.focus h2,
.projects h2,
.links h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.introduction p,
.languages ul,
.recent-focus ul,
.projects li p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.languages h3,
.recent-focus h3,
.projects h3,
.links h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.languages ul,
.recent-focus ul {
  list-style-type: none;
  padding-left: 0;
}

.languages ul li,
.recent-focus ul li {
  margin-bottom: 5px;
}

.projects ul li {
  margin-bottom: 20px;
}

.tools {
  content: "";
}

/* Grid layout for the lists */
.tools ul,
.focus ul,
.languages ul,
.education ul,
.development-focus ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /* Spacing between grid items */
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.show {
  display: block;
}

.project-category {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 5px;
}

.projects-list {
  /* display: none; */
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}

.project-category {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.project-category .icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.project-category.active .icon {
  transform: rotate(90deg);
}

.icon {
  display: inline-block;
}
